{% extends "base.html" %}
{% block body %}
<!-- connectedin/produtos/templates/listar.html -->
	<div class="container ajuste-container">
		<h3 class="h3-produtos">Lista de Produtos <i class="pe-7s-note2 icons-home-inverso"></i></h3>
		{% if produtos %}
		<div class="lista-produtos">
		
			<table class="table">
				<thead>
				    <tr>
				      	<th scope="col">Produto</th>
				      	<th scope="col">Descrição</th>
				      	<th scope="col">Grupo</th>
				      	<th scope="col">Código de Barras</th>
				      	<th scope="col">UN</th>
				      	<th scope="col">Peso</th>
				      	<th scope="col">Estoque</th>
				      	<th scope="col">Valor</th>
				      	<th scope="col">Editar</th>
				      	<th scope="col">Remover</th>
					</tr>
				</thead>
				<tbody>
					{% for linha in produtos %}
					    <tr>
						    <td>{{ linha.nome_produto }}</td>
						    <td>{{ linha.descricao }}</td>
						    <td>{{ linha.grupos }}</td>
						    <td>{{ linha.codigo_barras }}</td>
						    <td>{{ linha.unidade }}</td>
						    <td>{{ linha.peso }}</td>
						    <td>{{ linha.estoque }}</td>
						    <td>{{ linha.valor }}</td>
						    <td>
						    	<a href="/editar/{{linha.id}}" class="btn btn-primary">Editar</a>
						    </td>
						    <td>
						    	
						    	<a href="/remover/{{linha.id}}" class="btn btn-danger">Remover</a>
						    </td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		{% else %}
			<p class="text-danger">Nenhum produto Cadastrado :(</p>
		{% endif %}

	</div>
{% endblock %}
