{% extends "base.html" %}
{% block body %}
	<div class="container ajuste-container">
		<h3 class="h3-compras">Lista de Produtos <i class="pe-7s-note2 icons-home-inverso"></i></h3>

		<div class="lista-produtos">
			<table class="table">
				<thead>
				    <tr>
				    	<th scope="col">#</th>
				      	<th scope="col">Produto</th>
				      	<th scope="col">Descrição</th>
				      	<th scope="col">Grupo</th>
				      	<th scope="col">Código de Barras</th>
				      	<th scope="col">UN</th>
				      	<th scope="col">Peso</th>
				      	<th scope="col">Estoque</th>
				      	<th scope="col">Valor</th>
					</tr>
				</thead>
				<tbody>
				    <tr>
					    <th scope="row">1</th>
						    <td>Audio TT</td>
						    <td>Carro Novo</td>
						    <td>Mobilidade</td>
						    <td>7894563215469</td>
						    <td>UN</td>
						    <td>10000</td>
						    <td>10</td>
						    <td>RS: 250.000,00</td>
					</tr>
					    <tr>
						    <th scope="row">2</th>
						    	<td>Audio TT</td>
							    <td>Carro Novo</td>
							    <td>Mobilidade</td>
							    <td>7894563215469</td>
							    <td>UN</td>
							    <td>10000</td>
							    <td>10</td>
							    <td>RS: 250.000,00</td>
					    </tr>
					<tr>
						<th scope="row">3</th>
					    	<td>Audio TT</td>
						    <td>Carro Novo</td>
						    <td>Mobilidade</td>
						    <td>7894563215469</td>
						    <td>UN</td>
						    <td>10000</td>
						    <td>10</td>
						    <td>RS: 250.000,00</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
{% endblock %}