{% extends "base.html" %}
{% block body %}
<!-- connectedin/produtos/templates/listar.html -->
	<div class="container ajuste-container">
		<h3 class="h3-compras">Lista de Produtos <i class="pe-7s-note2 icons-home-inverso"></i></h3>

		<div class="lista-produtos">
			<table class="table">
				<thead>
				    <tr>
				      	<th scope="col">Produto</th>
				      	<th scope="col">Descrição</th>
				      	<th scope="col">Grupo</th>
				      	<th scope="col">Código de Barras</th>
				      	<th scope="col">UN</th>
				      	<th scope="col">Peso</th>
				      	<th scope="col">Estoque</th>
				      	<th scope="col">Valor</th>
					</tr>
				</thead>
				<tbody>
					{% for linha in produtos %}
					    <tr>
						    <td>{{ linha.nome_produto }}</td>
						    <td>{{ linha.descricao }}</td>
						    <td>{{ linha.grupos }}</td>
						    <td>{{ linha.codigo_barras }}</td>
						    <td>{{ linha.unidade }}</td>
						    <td>{{ linha.peso }}</td>
						    <td>{{ linha.estoque }}</td>
						    <td>{{ linha.valor }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

	</div>
{% endblock %}
